@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* header part style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

nav ul {
    display: flex;
    padding-right: 120px;
}

nav ul li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
    padding-top: 10px;

}

nav ul li a {
    text-decoration: none;
    color: #3A3A3A;
    ;
}

.Influencer-products {
    color: #3A3A3A;
    padding-left: 120px;
}

.header-content-container {
    display: flex;
    padding-top: 100px;
    gap: 50px;
}

.header-content {
    padding-left: 120px;
    padding-top: 55px;
}

.header-content h1 {
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.header-content p {
    color: #3A3A3A;
    padding-top: 20px;
    font-weight: 600;
    padding-right: 150px;
    padding-bottom: 20px;
}

.header-content button {
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    border: none;
    color: white;
    font-weight: 600;
}

.header-photo {
    margin-right: 160px;
    background-image: url('/images/Circle design.svg');
}

.header-photo img {
    padding-top: 30px;
    padding-left: 30px;
}

/* Company name section style */

.company-name-container {
    margin: 130px 200px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgb(216, 212, 212);
    padding: 20px 50px;

}

/* Popular collection styles */

.Popular-collection {
    margin: 0px 210px;
}

.Popular-collection-title {
    text-align: center;
    padding-bottom: 30px;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;

}

.gear-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 40px;
    text-align: center;

}

.gear {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 29px 0px 20px 29px;
    text-align: left;
}

.gear img{
    transition: transform 0.3s ease;
}

.gear img:hover{
    transform: scale(1.02);
}

.gear h1 {
    color: var(--Text-Gray-900, #18191F);
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.gear h2 {
    color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}

.gear p {
    color: var(--Gray-50, #787885);
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
}

.gear-rating::before {
    content: "★★★★★";
    font-size: 15px;
    letter-spacing: 2px;
    color: gold;
}




















/* @media screen and (max-width:576px) {
    nav ul li {
        display: none;
    }

    .Influencer-products {
        text-align: center;
    }

    .header-content-container {
        flex-direction: column-reverse;
    }

    .header-content h1 {
        color: #3A3A3A;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        margin: 0;
        padding-right: 80px;
        line-height: normal;
    }

    .header-content p{
        font-size: 14px;
    
        text-align: center;
        margin: 0px;
    }
} */